.add-customer-container {
	.attr-input {
		padding-left: 0px;
		padding-right: 0px;

		div {
			padding-left: 5px;
			padding-right: 5px;
		}
	}

	form {
		div.add-remove-phone.btn-group {
			text-align:center;
			margin: 10px !important;
		}

		.phone-container {
			margin-bottom: 10px !important;
		}

		.full-addres {
			.streetNumber {
				.input-group-btn select {
					border-radius: 0px 4px 4px 0px;
					width: 100px;
				}
			}
		}
		.input-group {
			display: table !important;
			.input-group-btn {
				display: table-cell !important;

				select {
					width: 100px;
					border-radius: 4px 0px 0px 4px;
				}
			}

		.form-group {
			margin-left: 0;
			margin-right: 0;
			
			}
		}

		.submit {
			margin-bottom: 20px;
		}
	}
}

.shadowed {
	margin-bottom: 20px;
	padding: 0;
	.inner {
		padding: 20px 30px;
	}
}

.bot {
	padding-bottom: 0px;
	padding-top: 10px;
	margin: 0px;
	margin-top: 10px;

	h5 {
		small {
			color: white;
		}
	}

	&.search-bot {
		background-color: #18bc9c;
		border-color: #18bc9c;
	}
	&.sell-bot {
		background-color: #2c3e50;
		border-color: #2c3e50;
	}
	&.rent-bot {
		background-color: #5E7390;
		border-color: #5E7390;
	}
}

.customer-card {
	cursor: pointer;
	.shadowed {
		margin-bottom: 20px;
		.head {
			margin-bottom: 10px;
			h4 {
				margin-bottom: 0px;
			}
			.client-id {
				color: gray;
			}
		}
		padding: 0px;

		.inner {
			padding: 20px;

			i {
				margin-right: 5px;
			}
		}

	}
}

.button-wrapper {
	text-align: center;
	.button {
		display: inline-block;
	}
}
.customer-meetings.shadowed,
.customer-properties.shadowed,
.contact.shadowed {
	padding: 20px;
	h5 {
		text-align: center;
		padding: 10px;
	}
	.attribute {
		padding: 0;
	}
}
