.nav-side-menu {
  font-family: verdana;
  font-weight: 200;
  background-color: #364252;
  position: fixed;
  width: 150px;
  height: 100%;
  color: #ffffff;
	padding-top: 40px;
}
.brand {
  background-color: #2c3643;
  line-height: 40px;
  display: block;
  text-align: center;
	width: 100%;
  color: #ffffff;
	position: fixed;
	z-index: 2;
}

.brand .userbadge {
	margin: -3px 10px;
	border-radius: 20px;
	border: none;
  background-color: #364252;
	height: 80%;
	width: 150px;
}

.nav-side-menu .toggle-btn {
  display: none;
}

.nav-side-menu .smalls div,
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
	text-align: center;
}

.nav-side-menu .smalls div,
.nav-side-menu li {
	padding: 20px;
}

.nav-side-menu .fa {
	font-size: 2em;
	padding: 20px;
	padding-bottom: 10px;
  font-weight: 100;
};
.nav-side-menu ul .collapsed .arrow:before,
.nav-side-menu li .collapsed .arrow:before {
  font-family: FontAwesome;
  content: "\f053";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

.nav-side-menu .smalls .active,
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #44b6ae;
  background-color: #5e7390;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #1AAE98;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #222933;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #2c3643;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #364252;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}

.nav-side-menu .smalls div.icon,
.nav-side-menu li {
  border-bottom: 1px solid #2c3643;
  border-right: 1px solid #2c3643;
}
.nav-side-menu .container-fluid  .row.smalls .col-xs-12.user-profile-container {
  border-top: 2px solid #2c3643;
	margin-top: -1px;
}

.nav-side-menu .smalls div a,
.nav-side-menu li a {
  text-decoration: none;
  color: #ffffff;
	padding: 5px;
}

.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu .smalls div.icon:hover,
.nav-side-menu li:hover {
  border-left: 3px solid #FFF;
  background-color: #5e7390;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
		top: -8px;
    z-index: 10 !important;
  }
  .brand {
    text-align: left !important;
    font-size: 20px;
    padding-left: 10px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
  
  .wrapper.container {
		padding: 50px;
		padding-left: 200px;
		width: 100%;
		text-align:justify;
  }
}
body {
  margin: 0px;
  padding: 0px;
}

.container {
}

.smalls div:not(.icon) {
	padding: 0px;
}

.smalls div.col-xs-12 div.user-info {
	padding: 40px 0px;
}

.user-picture {
	padding: 30px;
	width: 100%;
}

.brand .dropdown {
	margin: 0 10px;

}

.brand .dropdown-menu {
	width: 250px;
	padding: 20px;
	text-align: center;
}

.brand h3 {
	color: gray;
}

.visible-xs.gap {
	height: 20px;
	width: 100%;
}
