.spinner, .spinner:before, .spinner:after {
  width: 4px;
  height: 20px;
  background-color: #00B285;
  border-radius: 2px;
}

.spinner {
  display: inline-block;
  position: relative;
}
.spinner:before, .spinner:after {
  content: "";
  position: absolute;
  display: block;
  top: 0px;
}
.spinner:before {
  left: -6px;
}
.spinner:after {
  left: 6px;
}

/* ============================ */
/* SPINNER BOUNCE BOTTOM        */
/* ============================ */
@-webkit-keyframes bounce-bottom {
  0% {
    height: 5px;
    margin-top: 15px;
  }
  50% {
    height: 20px;
    margin-top: 0px;
  }
  100% {
    height: 5px;
    margin-top: 15px;
  }
}
@keyframes bounce-bottom {
  0% {
    height: 5px;
    margin-top: 15px;
  }
  50% {
    height: 20px;
    margin-top: 0px;
  }
  100% {
    height: 5px;
    margin-top: 15px;
  }
}
.spinner-bounce-bottom {
  -webkit-animation: bounce-bottom 0.6s ease 0.1s infinite;
          animation: bounce-bottom 0.6s ease 0.1s infinite;
}
.spinner-bounce-bottom:before, .spinner-bounce-bottom:after {
  top: auto;
  bottom: 0px;
}
.spinner-bounce-bottom:before {
  -webkit-animation: bounce-bottom 0.6s ease 0s infinite;
          animation: bounce-bottom 0.6s ease 0s infinite;
}
.spinner-bounce-bottom:after {
  -webkit-animation: bounce-bottom 0.6s ease 0.2s infinite;
          animation: bounce-bottom 0.6s ease 0.2s infinite;
}

.add-estimation-container {

	.shadowed {
		margin-bottom: 20px;
		padding: 20px;

		h2, h3, h4, h5 {
			margin-bottom: 15px;
		}
	}

	.add-estimation-form {
		padding: 20px;

		.spinner {
			position: absolute;
			top: 35px !important;
			right: 35px !important;
		}

		#map {
			overflow: hidden;
			img {
				height: 100%;
				display: block;
				margin: 0 auto;
			}
		}

		.control-label {
			text-align: left;
		}

		.control-label.col-xs-6 {
			padding: 0;
		}

		.graph svg {
			margin: 10px 0;
		}

		.input-grp {
			margin-bottom: 10px;
			div:not(.radio-inline) {
				display: block;
				margin: 0 auto;
			}
		}

		.submit-container {
			margin: 10px;
		}

		.full-address {
			div {
				padding: 0;
			}
			label {
				overflow: hidden;
				text-overflow:ellipsis;
			}

			label, .input {
				margin-bottom: 10px;
			}
		}

		#map {
			width: 100%;
			height: 180px;
		}
	}
}

.property-container {
	.shadowed {
		margin-bottom: 20px;
		padding: 20px;

		h2, h3, h4, h5 {
			margin-bottom: 15px;
		}
	}

	span {
	}

	.separator {
		margin-bottom: 20px;
	}

	.energy label,
	.informations label {
		text-align: left;
		overflow: hidden;
		text-overflow: ellipsis;
		vertical-align: middle;
		font-size: small;
	}

	svg {
		zoom: 0.8;
	}

	.map-wrapper {
		#map {
			width: 100%;
		}
	}

	.button-wrapper .center-block {
		width: 200px;
	}
}

.estimation-card {
	padding: 10px;

	.attr-cont {
		padding: 0;

		div {
			padding: 0;
		}
	}

	.shadowed {
		margin-bottom: 10px;
		margin: 0px;
		padding: 10px;

		h2, h3, h4, h5 {
			margin-bottom: 15px;
			text-align: center;
		}
	}

	label {
		text-align: left;
		overflow: hidden;
		text-overflow: ellipsis;
		vertical-align: middle;
		font-size: small;
		padding: 0;
	}

	.info {
		.title {
			margin-top: 20px;
			margin-bottom: 10px;
			border-bottom: lightgray 1px solid;
		}
	}
}

.images {
	.slick-prev::before, 
	.slick-next::before {
		color: gray;
	}

}

.separator {
	margin-bottom: 20px;
}
