#home-wrapper {
	float: none;
	margin: 0 auto;
	padding: 50px;
}

#home-wrapper .container .row {
	float: none;
	margin: 0 auto;
	text-align: center;
}

#home-wrapper .container .row img{
	float: none;
	margin: 50px auto;
}
