/* General */
html, body
{
	height: 100%;
	width: 100%;
}

/* helpers */
.padding-lr15
{
	padding-left: 15px;
	padding-right: 15px;
}
/* modal add agent */
#button_modal_add_agent
{
	margin-top: 25px;
}




/* Home page css */
#homepage_container
{
	background-color: black;
	color: white;
}

/* login page css */
#admin_container
{
	background-color: black;
	min-height: 100%;
	min-width: 100%;
	color: white;
}

/* agents css */

.usercard .card {
	overflow: hidden;
}

.usercard .card-image {
	overflow: hidden;
	height: 280px;
	z-index: 1;
}

.usercard .card-image img.bg-img{
	width: 200%;
	margin: -50%;
	opacity: 0.8;
	filter: blur(20px) saturate(20%);
	-webkit-filter: blur(20px) saturate(20%);
}

.usercard:hover .card-image img.bg-img{
	filter: blur(20px) saturate(80%);
	-webkit-filter: blur(20px) saturate(80%);
}

.usercard .waves-ripple {
}

.usercard .card-activator {
	position: absolute;
	display: block;
	width: 100%;
	top: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0;
	z-index: 2;
}

.usercard img.ico-img {
	position: absolute !important;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	margin-left: -50px;
	left: 50%;
	top: 200px;
	z-index: 2;
	filter: saturate(60%);
	-webkit-filter: saturate(60%);
}

.usercard:hover img.ico-img{
	filter: saturate(110%);
	-webkit-filter: saturate(110%);
}

.usercard .card-reveal {
	z-index: 2;
}

/* dashboard page css */
.d_sidebar_property
{
	margin-left: 140px;
	margin-top: 48px;
	background-color: #ede7f6;
}

.d-head-logo
{
	background-color: #9575cd;
}

.d-logout-btn
{
	cursor: pointer;
}

#calendar h2
{
	font-size: 1.1rem;
}
/* property css */

#add_property_form
{
	color: black;
}

#addProperty
{
	cursor: pointer;
}

#listProperty
{
	cursor: pointer;
}

/* meetings css */
#calendar_form
{
	color: black;
}

/* == fix materialize */
nav
{
}

nav a {
	color: inherit;
}


ul.side-nav.fixed {
    overflow: hidden;
    z-index: 0;
		padding-top: 64px;
}

header, main, footer {
	padding-left: 140px;
}

@media only screen and (max-width : 992px) {
	header,	main, footer {
		padding-left: 0;
	}
}

nav {
	background-color: teal;
}

#d_logout {
	display: inline;
	font-size: 2em;
	padding: 10px;
	line-height: 64px;
}

.side-nav
{
	width: 140px;
	background-color: teal;
}

.side-nav li
{
	padding-left: 10px;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-right: 10px;
	display:block;
	color: white;
}

.side-nav li:hover,
.side-nav li.active
{
	background-color: teal;
}

.side-nav li.waves-effect:hover,
.side-nav li.waves-effect.active
{
	background-color: white;
	color: black;
}

.card-title
{
	color: black;
}
