/* General */
html, body
{
}

.mtop-50
{
    margin-top: 50px;
}

#wrapper {
  padding-left: 150px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -150px;
  left: 150px;
  width: 150px;
  background: #CCCCCC;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 150px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li 
{
    cursor: pointer;
}

@media (max-width:767px) {
  #wrapper {
    padding-left: 0;
  }
  #sidebar-wrapper {
    left: 0;
  }
  #wrapper.active {
    position: relative;
    left: 150px;
  }
  #wrapper.active #sidebar-wrapper {
    left: 150px;
    width: 150px;
    transition: all 0.4s ease 0s;
  }
}

.pagination li a,
.pagination .li a:focus,
.pagination .active a,
.pagination .active a:hover,
.pagination .active a:focus,
.pagination .disabled a{
	background-color: black;
	margin: 2px;
}

.pagination .disabled a{
	border-color: gray;
	color: gray;
}

.pagination li a {
	color: white;
}

.pagination li.active a {
	color: rgb(102, 45, 145);
	border-color: rgb(102, 45, 145);
}

.modal,
.modal .modal-content,
.modal .property-container {
	background: black;
	color: white;
}

.logo {
	cursor: pointer;
}
