/* General */
html, body
{
	height: 100%;
	width: 100%;
}

/* helpers */
.padding-lr15
{
	padding-left: 15px;
	padding-right: 15px;
}
/* modal add agent */
#button_modal_add_agent
{
	margin-top: 25px;
}




/* Home page css */
#homepage_container
{
	background-color: black;
	color: white;
}

/* login page css */
#admin_container
{
	background-color: black;
	min-height: 100%;
	min-width: 100%;
	color: white;
}

/* agents css */
/*.grid {
	margin: 0 auto;
}

.grid-item {
	height: 150px;
	padding: 15px;
	padding-left: 25px;
}

.grid-item .well {
	width: 100%;
	height: 100%;
}

.grid-item.size-2 {
	animation: grow 0.2s both;
}

.grid-item.size-1 {
	animation: shrink 0.2s both;
}

.grid-item.grid-footer {
	width: 100%;
}

@keyframes grow {
	0%		{height: 150px;}
	100%	{height: 450px;}
}

@keyframes shrink {
	0%		{height: 450px;}
	100%	{height: 150px;}
}*/
/* dashboard page css */
#dashboard_container
{
}

#dashboard_container_side
{
}

.d_sidebar_property
{
	margin-left: 140px;
	margin-top: 48px;
	background-color: #ede7f6;
}

ul#nav-mobile.side-nav.fixed.d_sidebar_property
{
	width: 240px;
	-moz-box-shadow: inset 1px 1px 1px 0px #656565;
	-webkit-box-shadow: inset 1px 1px 1px 0px #656565;
	-o-box-shadow: inset 1px 1px 1px 0px #656565;
	box-shadow: inset 1px 1px 1px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=1);
}

.d-head-logo
{
	background-color: #9575cd;
}

.d-logout-btn
{
	cursor: pointer;
}

#calendar h2
{
	font-size: 1.1rem;
}
/* property css */

#add_property_form
{
	color: black;
}

#addProperty
{
	cursor: pointer;
}

#listProperty
{
	cursor: pointer;
}

/* meetings css */
#calendar_form
{
	color: black;
}

/* == fix materialize */
nav
{
}

nav a {
	color: inherit;
}

nav .brand-logo
{
	font-size: 1rem;
	color: black;
}
nav .nav-wrapper i
{
	height: 48px;
	line-height: 48px;
	font-size: 1rem;	
}

ul.side-nav.fixed {
    overflow: hidden;
    z-index: 0;
}

header, main, footer {
	padding-left: 140px;
}

@media only screen and (max-width : 992px) {
	header,	main, footer {
		padding-left: 0;
	}
}

nav {
	background-color: teal;
}

#d_logout {
	display: inline;
	font-size: 2em;
	padding: 10px;
	line-height: 64px;
}

.side-nav
{
	width: 140px;
	background-color: teal;
}

.side-nav li
{
	padding-left: 10px;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-right: 10px;
	display:block;
	color: white;
}

.side-nav li:hover,
.side-nav li.active
{
	background-color: teal;
}

.side-nav li.waves-effect:hover,
.side-nav li.waves-effect.active
{
	background-color: white;
	color: black;
}

.card-title
{
	color: black;
}

.input-field input[type="search"] ~ .mdi-navigation-close, .input-field input[type="search"] ~ .material-icons
{
	font-size: 1.1rem;
}
