<template name='layoutDashboard'>
    {{#if currentUser}}
        {{> navbar_menu }}
        <div id="wrapper" class="mtop-50">
            {{> sidebar_property}}
            <div id="page-content-wrapper">
                <div class="page-content">
                    <div class="container">
                        {{> yield }}
                    </div>            
                </div>            
            </div>            
        </div>
    {{else}}
        {{>yield}}
    {{/if}}
</template>
